In [27]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [5]:
# Read the Excel file into a dictionary of data frames, with sheet names as keys
xls = pd.read_excel('Data Collection/TurningMovementCounts.xlsx', sheet_name=None)
xls

{'7800':          Time  EBL  EBT  EBR  SBL  SBT
 0    00:00:00    2    5    2   12    7
 1    00:15:00    2    4    0    9    7
 2    00:30:00    3    1    1    0    3
 3    00:45:00    0    1    1    3    5
 4    01:00:00    4    6    0    9    5
 ..        ...  ...  ...  ...  ...  ...
 955  22:45:00    8    8    1   14   35
 956  23:00:00   12    5    3    8   10
 957  23:15:00    6    1    1   17   14
 958  23:30:00    5    6    2    9   13
 959  23:45:00    4    6    1    3   18

 [960 rows x 6 columns],
 '7801':          Time  EBL  EBT  EBR  WBL  WBT  WBR  NBL  NBT  NBR  SBL  SBT  SBR
 0    00:00:00    2    1    0    1    0    0    1    5    0    0   20    7
 1    00:15:00    2    0    0    0    0    0    2    5    0    0   22    5
 2    00:30:00    2    0    0    0    0    0    0    8    0    0   11   10
 3    00:45:00    1    0    0    2    1    0    0    4    0    0   16    3
 4    01:00:00    1    1    0    0    0    0    0    2    0    0   17    4
 ..        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 859  22:45:00    4    2    0    1    0    0    6   17    1    0   42   14
 860  23:00:00    0    0    0    0    0    0    0    0    0    0    4    0
 861  23:15:00    0    0    0    0    0    0    0    0    0    0    0    0
 862  23:30:00    0    0    0    0    0    0    0    0    0    0    0    0
 863  23:45:00    2    0    1    0    0    0    0    1    0    0    8    4

 [864 rows x 13 columns],
 '7802':          Time  EBL  EBTR  WBL  WBT  WBR  NBL  NBT  SBL  SBT  SBR
 0    00:00:00    0     0    0   17    0    2   15    0   21    0
 1    00:15:00    0     1    0   10    0    0   12    0   20    2
 2    00:30:00    0     5    0   16    0    3   13    0   18    1
 3    00:45:00    0     1    0   12    0    1   11    0   19    2
 4    01:00:00    0     0    0    4    0    0    5    0   23    2
 ..        ...  ...   ...  ...  ...  ...  ...  ...  ...  ...  ...
 859  22:45:00    0     1    0    0    0    3   37    0   70    3
 860  23:00:00    0     0    0    0    0    0    0    0    0    0
 861  23:15:00    0     0    0    0    0    0    0    0    0    0
 862  23:30:00    0     0    0    0    0    0    0    0    0    0
 863  23:45:00    0     1    0    0    0    0    6    0    6    1

 [864 rows x 11 columns],
 '7803':          Time  EBL  EBT  EBR  WBL  WBT  WBR  NBL  NBT  NBR  SBL  SBT  SBR
 0    00:00:00    2    0    1    0    0    0    0    7    0    0    7    3
 1    00:15:00    2    0    1    0    0    0    0    5    0    0    6    2
 2    00:30:00    2    0    1    0    0    0    0    3    0    0    3    2
 3    00:45:00    4    0    0    0    0    0    1    5    0    0    8    3
 4    01:00:00    0    0    0    0    0    0    0    3    0    0    8    3
 ..        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 859  22:45:00    3    0    3    0    1    2    5   12    2    1   24   10
 860  23:00:00    1    1    5    0    0    0    4   12    0    0   19    5
 861  23:15:00    1    0    1    0    3    0    4    7    0    0   23    6
 862  23:30:00    3    0    1    0    0    0    7   10    0    0   22    3
 863  23:45:00    3    0    4    0    0    0    2    5    0    1   21    4

 [864 rows x 13 columns],
 '7804':          Time  EBL  EBT  EBR  WBL  WBT  WBR  NBL  NBT  NBR  SBL  SBT  SBR
 0    00:00:00    1    0    0    0    1    0    2   13    1    1   18    2
 1    00:15:00    0    0    0    1    0    0    1    7    1    1   11    0
 2    00:30:00    0    4    0    0    1    2    2   13    0    0   13    0
 3    00:45:00    0    0    0    0    1    0    1    7    0    0    9    0
 4    01:00:00    0    1    0    0    0    0    1    4    0    0    9    0
 ..        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 859  22:45:00    2    0    1    0    0    2    5   29    1    3   37    5
 860  23:00:00    2    1    0    0    1    2    3   25    1    1   33    3
 861  23:15:00    0    0    2    0    1    0    4   18    0    0   33    2
 862  23:30:00    1    1    0    1    1    1    5   18    1    1   34    4
 863  23:45:00    1    0    1    0    1    0    3   16    2    1   21    2

 [864 rows x 13 columns],
 '7805':          Time  EBL  EBT  EBR  WBL  WBT  WBR  NBL  NBT  NBR  SBL  SBT  SBR
 0    00:00:00    0    0    0    0    0    2    0   13    0    0   20    0
 1    00:15:00    0    0    0    1    0    0    0    9    0    0   14    0
 2    00:30:00    0    0    0    0    0    0    0    8    1    0   10    0
 3    00:45:00    0    0    0    0    0    0    0    2    0    0   10    3
 4    01:00:00    0    0    0    0    0    0    0    8    0    0   13    0
 ..        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 859  22:45:00    0    0    3    2    1    3    1   29    1    9   46    1
 860  23:00:00    2    0    0    0    0    1    3   30    1    2   42    2
 861  23:15:00    1    0    1    0    1    4    0   19    0    5   37    0
 862  23:30:00    1    0    0    0    0    0    0   22    0    3   42    3
 863  23:45:00    1    1    2    0    0    0    1   23    0    1   29    0

 [864 rows x 13 columns],
 '7811':          Time  EBL  EBT  EBR  WBL  WBT  WBR  NBL  NBT  NBR  SBL  SBT  SBR
 0    00:00:00    0    0    0    2    0    1    0   14    0    0   12    0
 1    00:15:00    0    0    0    0    0    0    0    9    0    2    7    0
 2    00:30:00    0    0    0    1    0    0    0   10    0    0    4    0
 3    00:45:00    0    1    0    0    0    0    0    6    0    0    7    0
 4    01:00:00    0    0    0    0    0    1    0    7    1    0    8    0
 ..        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 859  22:45:00    0    0    1    0    0    1    0   26    0    0   25    1
 860  23:00:00    1    0    1    0    0    0    1   23    0    1   24    1
 861  23:15:00    2    0    1    4    0    0    1   16    1    0   22    0
 862  23:30:00    0    0    0    1    0    2    0   22    0    1   18    0
 863  23:45:00    0    0    1    0    0    2    0   20    0    1   12    1

 [864 rows x 13 columns],
 '7812':          Time  EBL  EBR  NBL  NBT  WBT
 0    00:00:00    4    2    2    8    4
 1    00:15:00    3    2    3    5    7
 2    00:30:00    4    3    2    7    6
 3    00:45:00    3    2    3    6    5
 4    01:00:00    1    2    2    2    5
 ..        ...  ...  ...  ...  ...  ...
 859  22:45:00    5    9   18   16   26
 860  23:00:00    7    5   12   15   22
 861  23:15:00    4   14   12   15   21
 862  23:30:00    5    5    4    9   13
 863  23:45:00    9    6    7    9   17

 [864 rows x 6 columns],
 '7813':          Time  EBL  EBT  EBR  WBL  WBTR  NBL  NBT  NBTR  SBL  SBT  SBR
 0    00:00:00    1    0    2    0     2    1    6     8    0   20    2
 1    00:15:00    4    0    1    0     0    2    5     9    2   12    2
 2    00:30:00    2    0    2    2     1    0    6     7    1   18    1
 3    00:45:00    0    0    1    1     1    0    1     4    0    7    2
 4    01:00:00    2    0    3    1     2    2    2     6    0   11    0
 ..        ...  ...  ...  ...  ...   ...  ...  ...   ...  ...  ...  ...
 859  22:45:00    8    1   15    3     9    4    6    15    1   34    5
 860  23:00:00   10    2   15    3     2    2   12    17    5   53    1
 861  23:15:00    6    1    5    1     1    4   16    10    3   29    4
 862  23:30:00    2    1    6    1     1    3    6     7    1   23    1
 863  23:45:00    1    0    3    3     1    2   13    11    2   24    0

 [864 rows x 12 columns],
 '7814':          Time  EBL  EBTR  WBL  WBT  WBR  NBL  NBT  NBR  SBL  SBT  SBR
 0    00:00:00    1     3    1    4    6    6   10    2   11   17    4
 1    00:15:00    2     0    3    4    4    2   13    3    7   15    0
 2    00:30:00    0     5    1    4    2    5   12    0   11   14    3
 3    00:45:00    0     0    2    0    0    1    5    2    4    6    0
 4    01:00:00    0     1    1    0    3    3    8    1    6   13    4
 ..        ...  ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 859  22:45:00    3     6    6    5    6    8   33   10   31   56    5
 860  23:00:00    1     6    6    4    1   14   30    5   16   54    3
 861  23:15:00    0     3    7    4    8   18   22    2   18   36    5
 862  23:30:00    3     3    6    2    4   15   20    3   14   31    4
 863  23:45:00    0     5    5    4    5    8   18    2   17   27    0

 [864 rows x 12 columns],
 '7815':          Time  EBTL  EBR  WBTL  WBR  NBL  NBT  NBTR  SBL  SBT  SBTR
 0    00:00:00     1    0     0    0    0    5    10    1   10    20
 1    00:15:00     2    1     0    0    1    6     9    0    8     9
 2    00:30:00     0    0     0    0    1    6    11    0   14    12
 3    00:45:00     1    0     1    0    0    1     8    0    6     4
 4    01:00:00     2    1     0    0    0    3     7    0    8    10
 ..        ...   ...  ...   ...  ...  ...  ...   ...  ...  ...   ...
 859  22:45:00     3    0     3    0    5   15    27    0   32    32
 860  23:00:00     2    2     4    1    2   16    15    7   35    30
 861  23:15:00     2    2     4    1    2   11    12    1   28    24
 862  23:30:00     2    1     2    1    1    8    13    1   22    24
 863  23:45:00     3    0     0    0    1    8     8    1   19    14

 [864 rows x 11 columns],
 '7816':          Time  EBL  EBTR  WBL  WBTR  NBL  NBT  NBTR  SBL  SBT  SBTR
 0    00:00:00    0     2    1     6    0    6     6    1    7    13
 1    00:15:00    0     0    2     2    0    6     9    3    4     7
 2    00:30:00    0     1    1     0    0    5     9    2    9    10
 3    00:45:00    1     1    1     1    0    2     5    1    8     2
 4    01:00:00    1     0    0     2    0    2     8    3    3     6
 ..        ...  ...   ...  ...   ...  ...  ...   ...  ...  ...   ...
 859  22:45:00    2     3    2     5    1   20    24    2   18    28
 860  23:00:00    1     1    2     5    1   14    15    5   18    32
 861  23:15:00    0     3    0     4    1   12    13    2   12    28
 862  23:30:00    2     1    3     3    0    9     8    4    7    21
 863  23:45:00    0     0    1     5    1    7     5    5    6    16

 [864 rows x 11 columns],
 '7818':          Time  EBL  EBTR  WBL  WBTR  NBL  NBT  NBR  SBL  SBT  SBTR
 0    00:00:00    0     2    0     1    0   12    0    0   11     5
 1    00:15:00    0     0    0     3    0   14    0    0    4    10
 2    00:30:00    0     2    0     1    0   11    0    1    5     5
 3    00:45:00    0     0    0     0    0    7    0    3    6     3
 4    01:00:00    0     0    0     0    1    5    0    0    2     6
 ..        ...  ...   ...  ...   ...  ...  ...  ...  ...  ...   ...
 859  22:45:00    4     4    0     3    1   31    0    6   25    19
 860  23:00:00    2     0    1     7    2   23    2    3   28    28
 861  23:15:00    1     1    2     4    2   21    0    0   20    17
 862  23:30:00    2     2    0     5    1   12    0    1   14    16
 863  23:45:00    1     2    0     1    2   10    1    1   10     9

 [864 rows x 11 columns],
 '7819':          Time  EBL  EBTR  WBL  WBT  WBR  NBL  NBT  NBTR  SBL  SBT  SBTR
 0    00:00:00    0     2    0    1    2    1    6     6    2   11     6
 1    00:15:00    2     1    3    0    0    1    5     5    3    2     9
 2    00:30:00    1     0    1    1    0    0    5     4    2    4     7
 3    00:45:00    1     0    0    0    1    0    3     3    0    6     3
 4    01:00:00    0     0    0    0    0    1    2     5    0    4     5
 ..        ...  ...   ...  ...  ...  ...  ...  ...   ...  ...  ...   ...
 859  22:45:00    2     2    2    5    3    1   15     3    4   32    10
 860  23:00:00    1     3    1    3    4    1   16     5    7   28     5
 861  23:15:00    5     3    0    2    2    0   10     3    7   29     7
 862  23:30:00    1     0    3    1    1    0    6     3    1   16     4
 863  23:45:00    1     1    0    3    0    0    7     0    2   15     2

 [864 rows x 12 columns]}

In [7]:
# Initialize an empty list to store modified data frames
dfs = []

# Iterate through each sheet
for sheet_name, df in xls.items():
    # Add a new column "ID" with the sheet name
    df['ID'] = sheet_name
    # Add the data frame to the list
    dfs.append(df)
dfs

[         Time  EBL  EBT  EBR  SBL  SBT    ID
 0    00:00:00    2    5    2   12    7  7800
 1    00:15:00    2    4    0    9    7  7800
 2    00:30:00    3    1    1    0    3  7800
 3    00:45:00    0    1    1    3    5  7800
 4    01:00:00    4    6    0    9    5  7800
 ..        ...  ...  ...  ...  ...  ...   ...
 955  22:45:00    8    8    1   14   35  7800
 956  23:00:00   12    5    3    8   10  7800
 957  23:15:00    6    1    1   17   14  7800
 958  23:30:00    5    6    2    9   13  7800
 959  23:45:00    4    6    1    3   18  7800

 [960 rows x 7 columns],
          Time  EBL  EBT  EBR  WBL  WBT  WBR  NBL  NBT  NBR  SBL  SBT  SBR  \
 0    00:00:00    2    1    0    1    0    0    1    5    0    0   20    7
 1    00:15:00    2    0    0    0    0    0    2    5    0    0   22    5
 2    00:30:00    2    0    0    0    0    0    0    8    0    0   11   10
 3    00:45:00    1    0    0    2    1    0    0    4    0    0   16    3
 4    01:00:00    1    1    0    0    0    0    0    2    0    0   17    4
 ..        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 859  22:45:00    4    2    0    1    0    0    6   17    1    0   42   14
 860  23:00:00    0    0    0    0    0    0    0    0    0    0    4    0
 861  23:15:00    0    0    0    0    0    0    0    0    0    0    0    0
 862  23:30:00    0    0    0    0    0    0    0    0    0    0    0    0
 863  23:45:00    2    0    1    0    0    0    0    1    0    0    8    4

        ID
 0    7801
 1    7801
 2    7801
 3    7801
 4    7801
 ..    ...
 859  7801
 860  7801
 861  7801
 862  7801
 863  7801

 [864 rows x 14 columns],
          Time  EBL  EBTR  WBL  WBT  WBR  NBL  NBT  SBL  SBT  SBR    ID
 0    00:00:00    0     0    0   17    0    2   15    0   21    0  7802
 1    00:15:00    0     1    0   10    0    0   12    0   20    2  7802
 2    00:30:00    0     5    0   16    0    3   13    0   18    1  7802
 3    00:45:00    0     1    0   12    0    1   11    0   19    2  7802
 4    01:00:00    0     0    0    4    0    0    5    0   23    2  7802
 ..        ...  ...   ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
 859  22:45:00    0     1    0    0    0    3   37    0   70    3  7802
 860  23:00:00    0     0    0    0    0    0    0    0    0    0  7802
 861  23:15:00    0     0    0    0    0    0    0    0    0    0  7802
 862  23:30:00    0     0    0    0    0    0    0    0    0    0  7802
 863  23:45:00    0     1    0    0    0    0    6    0    6    1  7802

 [864 rows x 12 columns],
          Time  EBL  EBT  EBR  WBL  WBT  WBR  NBL  NBT  NBR  SBL  SBT  SBR  \
 0    00:00:00    2    0    1    0    0    0    0    7    0    0    7    3
 1    00:15:00    2    0    1    0    0    0    0    5    0    0    6    2
 2    00:30:00    2    0    1    0    0    0    0    3    0    0    3    2
 3    00:45:00    4    0    0    0    0    0    1    5    0    0    8    3
 4    01:00:00    0    0    0    0    0    0    0    3    0    0    8    3
 ..        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 859  22:45:00    3    0    3    0    1    2    5   12    2    1   24   10
 860  23:00:00    1    1    5    0    0    0    4   12    0    0   19    5
 861  23:15:00    1    0    1    0    3    0    4    7    0    0   23    6
 862  23:30:00    3    0    1    0    0    0    7   10    0    0   22    3
 863  23:45:00    3    0    4    0    0    0    2    5    0    1   21    4

        ID
 0    7803
 1    7803
 2    7803
 3    7803
 4    7803
 ..    ...
 859  7803
 860  7803
 861  7803
 862  7803
 863  7803

 [864 rows x 14 columns],
          Time  EBL  EBT  EBR  WBL  WBT  WBR  NBL  NBT  NBR  SBL  SBT  SBR  \
 0    00:00:00    1    0    0    0    1    0    2   13    1    1   18    2
 1    00:15:00    0    0    0    1    0    0    1    7    1    1   11    0
 2    00:30:00    0    4    0    0    1    2    2   13    0    0   13    0
 3    00:45:00    0    0    0    0    1    0    1    7    0    0    9    0
 4    01:00:00    0    1    0    0    0    0    1    4    0    0    9    0
 ..        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 859  22:45:00    2    0    1    0    0    2    5   29    1    3   37    5
 860  23:00:00    2    1    0    0    1    2    3   25    1    1   33    3
 861  23:15:00    0    0    2    0    1    0    4   18    0    0   33    2
 862  23:30:00    1    1    0    1    1    1    5   18    1    1   34    4
 863  23:45:00    1    0    1    0    1    0    3   16    2    1   21    2

        ID
 0    7804
 1    7804
 2    7804
 3    7804
 4    7804
 ..    ...
 859  7804
 860  7804
 861  7804
 862  7804
 863  7804

 [864 rows x 14 columns],
          Time  EBL  EBT  EBR  WBL  WBT  WBR  NBL  NBT  NBR  SBL  SBT  SBR  \
 0    00:00:00    0    0    0    0    0    2    0   13    0    0   20    0
 1    00:15:00    0    0    0    1    0    0    0    9    0    0   14    0
 2    00:30:00    0    0    0    0    0    0    0    8    1    0   10    0
 3    00:45:00    0    0    0    0    0    0    0    2    0    0   10    3
 4    01:00:00    0    0    0    0    0    0    0    8    0    0   13    0
 ..        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 859  22:45:00    0    0    3    2    1    3    1   29    1    9   46    1
 860  23:00:00    2    0    0    0    0    1    3   30    1    2   42    2
 861  23:15:00    1    0    1    0    1    4    0   19    0    5   37    0
 862  23:30:00    1    0    0    0    0    0    0   22    0    3   42    3
 863  23:45:00    1    1    2    0    0    0    1   23    0    1   29    0

        ID
 0    7805
 1    7805
 2    7805
 3    7805
 4    7805
 ..    ...
 859  7805
 860  7805
 861  7805
 862  7805
 863  7805

 [864 rows x 14 columns],
          Time  EBL  EBT  EBR  WBL  WBT  WBR  NBL  NBT  NBR  SBL  SBT  SBR  \
 0    00:00:00    0    0    0    2    0    1    0   14    0    0   12    0
 1    00:15:00    0    0    0    0    0    0    0    9    0    2    7    0
 2    00:30:00    0    0    0    1    0    0    0   10    0    0    4    0
 3    00:45:00    0    1    0    0    0    0    0    6    0    0    7    0
 4    01:00:00    0    0    0    0    0    1    0    7    1    0    8    0
 ..        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 859  22:45:00    0    0    1    0    0    1    0   26    0    0   25    1
 860  23:00:00    1    0    1    0    0    0    1   23    0    1   24    1
 861  23:15:00    2    0    1    4    0    0    1   16    1    0   22    0
 862  23:30:00    0    0    0    1    0    2    0   22    0    1   18    0
 863  23:45:00    0    0    1    0    0    2    0   20    0    1   12    1

        ID
 0    7811
 1    7811
 2    7811
 3    7811
 4    7811
 ..    ...
 859  7811
 860  7811
 861  7811
 862  7811
 863  7811

 [864 rows x 14 columns],
          Time  EBL  EBR  NBL  NBT  WBT    ID
 0    00:00:00    4    2    2    8    4  7812
 1    00:15:00    3    2    3    5    7  7812
 2    00:30:00    4    3    2    7    6  7812
 3    00:45:00    3    2    3    6    5  7812
 4    01:00:00    1    2    2    2    5  7812
 ..        ...  ...  ...  ...  ...  ...   ...
 859  22:45:00    5    9   18   16   26  7812
 860  23:00:00    7    5   12   15   22  7812
 861  23:15:00    4   14   12   15   21  7812
 862  23:30:00    5    5    4    9   13  7812
 863  23:45:00    9    6    7    9   17  7812

 [864 rows x 7 columns],
          Time  EBL  EBT  EBR  WBL  WBTR  NBL  NBT  NBTR  SBL  SBT  SBR    ID
 0    00:00:00    1    0    2    0     2    1    6     8    0   20    2  7813
 1    00:15:00    4    0    1    0     0    2    5     9    2   12    2  7813
 2    00:30:00    2    0    2    2     1    0    6     7    1   18    1  7813
 3    00:45:00    0    0    1    1     1    0    1     4    0    7    2  7813
 4    01:00:00    2    0    3    1     2    2    2     6    0   11    0  7813
 ..        ...  ...  ...  ...  ...   ...  ...  ...   ...  ...  ...  ...   ...
 859  22:45:00    8    1   15    3     9    4    6    15    1   34    5  7813
 860  23:00:00   10    2   15    3     2    2   12    17    5   53    1  7813
 861  23:15:00    6    1    5    1     1    4   16    10    3   29    4  7813
 862  23:30:00    2    1    6    1     1    3    6     7    1   23    1  7813
 863  23:45:00    1    0    3    3     1    2   13    11    2   24    0  7813

 [864 rows x 13 columns],
          Time  EBL  EBTR  WBL  WBT  WBR  NBL  NBT  NBR  SBL  SBT  SBR    ID
 0    00:00:00    1     3    1    4    6    6   10    2   11   17    4  7814
 1    00:15:00    2     0    3    4    4    2   13    3    7   15    0  7814
 2    00:30:00    0     5    1    4    2    5   12    0   11   14    3  7814
 3    00:45:00    0     0    2    0    0    1    5    2    4    6    0  7814
 4    01:00:00    0     1    1    0    3    3    8    1    6   13    4  7814
 ..        ...  ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
 859  22:45:00    3     6    6    5    6    8   33   10   31   56    5  7814
 860  23:00:00    1     6    6    4    1   14   30    5   16   54    3  7814
 861  23:15:00    0     3    7    4    8   18   22    2   18   36    5  7814
 862  23:30:00    3     3    6    2    4   15   20    3   14   31    4  7814
 863  23:45:00    0     5    5    4    5    8   18    2   17   27    0  7814

 [864 rows x 13 columns],
          Time  EBTL  EBR  WBTL  WBR  NBL  NBT  NBTR  SBL  SBT  SBTR    ID
 0    00:00:00     1    0     0    0    0    5    10    1   10    20  7815
 1    00:15:00     2    1     0    0    1    6     9    0    8     9  7815
 2    00:30:00     0    0     0    0    1    6    11    0   14    12  7815
 3    00:45:00     1    0     1    0    0    1     8    0    6     4  7815
 4    01:00:00     2    1     0    0    0    3     7    0    8    10  7815
 ..        ...   ...  ...   ...  ...  ...  ...   ...  ...  ...   ...   ...
 859  22:45:00     3    0     3    0    5   15    27    0   32    32  7815
 860  23:00:00     2    2     4    1    2   16    15    7   35    30  7815
 861  23:15:00     2    2     4    1    2   11    12    1   28    24  7815
 862  23:30:00     2    1     2    1    1    8    13    1   22    24  7815
 863  23:45:00     3    0     0    0    1    8     8    1   19    14  7815

 [864 rows x 12 columns],
          Time  EBL  EBTR  WBL  WBTR  NBL  NBT  NBTR  SBL  SBT  SBTR    ID
 0    00:00:00    0     2    1     6    0    6     6    1    7    13  7816
 1    00:15:00    0     0    2     2    0    6     9    3    4     7  7816
 2    00:30:00    0     1    1     0    0    5     9    2    9    10  7816
 3    00:45:00    1     1    1     1    0    2     5    1    8     2  7816
 4    01:00:00    1     0    0     2    0    2     8    3    3     6  7816
 ..        ...  ...   ...  ...   ...  ...  ...   ...  ...  ...   ...   ...
 859  22:45:00    2     3    2     5    1   20    24    2   18    28  7816
 860  23:00:00    1     1    2     5    1   14    15    5   18    32  7816
 861  23:15:00    0     3    0     4    1   12    13    2   12    28  7816
 862  23:30:00    2     1    3     3    0    9     8    4    7    21  7816
 863  23:45:00    0     0    1     5    1    7     5    5    6    16  7816

 [864 rows x 12 columns],
          Time  EBL  EBTR  WBL  WBTR  NBL  NBT  NBR  SBL  SBT  SBTR    ID
 0    00:00:00    0     2    0     1    0   12    0    0   11     5  7818
 1    00:15:00    0     0    0     3    0   14    0    0    4    10  7818
 2    00:30:00    0     2    0     1    0   11    0    1    5     5  7818
 3    00:45:00    0     0    0     0    0    7    0    3    6     3  7818
 4    01:00:00    0     0    0     0    1    5    0    0    2     6  7818
 ..        ...  ...   ...  ...   ...  ...  ...  ...  ...  ...   ...   ...
 859  22:45:00    4     4    0     3    1   31    0    6   25    19  7818
 860  23:00:00    2     0    1     7    2   23    2    3   28    28  7818
 861  23:15:00    1     1    2     4    2   21    0    0   20    17  7818
 862  23:30:00    2     2    0     5    1   12    0    1   14    16  7818
 863  23:45:00    1     2    0     1    2   10    1    1   10     9  7818

 [864 rows x 12 columns],
          Time  EBL  EBTR  WBL  WBT  WBR  NBL  NBT  NBTR  SBL  SBT  SBTR    ID
 0    00:00:00    0     2    0    1    2    1    6     6    2   11     6  7819
 1    00:15:00    2     1    3    0    0    1    5     5    3    2     9  7819
 2    00:30:00    1     0    1    1    0    0    5     4    2    4     7  7819
 3    00:45:00    1     0    0    0    1    0    3     3    0    6     3  7819
 4    01:00:00    0     0    0    0    0    1    2     5    0    4     5  7819
 ..        ...  ...   ...  ...  ...  ...  ...  ...   ...  ...  ...   ...   ...
 859  22:45:00    2     2    2    5    3    1   15     3    4   32    10  7819
 860  23:00:00    1     3    1    3    4    1   16     5    7   28     5  7819
 861  23:15:00    5     3    0    2    2    0   10     3    7   29     7  7819
 862  23:30:00    1     0    3    1    1    0    6     3    1   16     4  7819
 863  23:45:00    1     1    0    3    0    0    7     0    2   15     2  7819

 [864 rows x 13 columns]]

In [36]:
# Concatenate all data frames along columns, filling missing values with NA
result = pd.concat(dfs, ignore_index=True)

In [40]:
longdata = result.drop_duplicates().\
    melt(id_vars=['ID', 'Time'], var_name='Movement', value_name='Volume')

In [39]:
# Define a function to determine the value of the "NBSB" column
def determine_direction(Movement	):
    if 'N' in Movement	:
        return 'northbound'
    elif 'S' in Movement	:
        return 'southbound'
    else:
        return 'other'

In [47]:
longdata['NBSB'] = longdata['Movement'].apply(determine_direction)
cleandata = longdata.groupby(['ID', 'Time', 'NBSB'])['Volume'].\
    mean().\
    reset_index().\
    dropna(subset=['Volume'])

In [48]:
am_data = cleandata[(cleandata['Time'] >= datetime.time(6, 0)) & (cleandata['Time'] <= datetime.time(9, 0))]
md_data = cleandata[(cleandata['Time'] >= datetime.time(9, 0)) & (cleandata['Time'] <= datetime.time(15, 0))]
pm_data = cleandata[(cleandata['Time'] >= datetime.time(15, 0)) & (cleandata['Time'] <= datetime.time(19, 0))]

In [59]:
am_data

        ID      Time        NBSB     Volume
73    7800  06:00:00       other   5.200000
74    7800  06:00:00  southbound  17.500000
76    7800  06:15:00       other   4.400000
77    7800  06:15:00  southbound  24.450000
79    7800  06:30:00       other   4.700000
...    ...       ...         ...        ...
3850  7819  08:45:00       other  21.888889
3851  7819  08:45:00  southbound  58.740741
3852  7819  09:00:00  northbound  43.740741
3853  7819  09:00:00       other  18.288889
3854  7819  09:00:00  southbound  50.666667

[520 rows x 4 columns]

In [65]:
# Assuming your DataFrame is named df
# Convert 'Time' column to datetime
# df['Time'] = pd.to_datetime(df['Time'])

# Plot volume over time
plt.figure(figsize=(10, 6))
for nbsb, data in am_data.groupby('NBSB'):
    plt.plot(data['Time'], data['Volume'], label=nbsb)

plt.xlabel('Time')
plt.ylabel('Volume')
plt.title('Volume Over Time')
plt.legend()
plt.show()

TypeError: <class 'datetime.time'> is not convertible to datetime, at position 0

In [56]:
am_data.groupby(['ID', 'NBSB'])['Volume'].\
    sum().\
    reset_index().\
    pivot(index='ID', columns='NBSB', values='Volume').\
    drop(columns='other')

NBSB   northbound  southbound
ID
7800          NaN  483.150000
7801  1260.962963  618.148148
7802  2514.666667  669.777778
7803   873.083333  468.291667
7804  1283.296296  697.814815
7805  1356.074074  863.333333
7811  1221.518519  693.777778
7812  1293.222222         NaN
7813  1297.740741  655.037037
7814  1077.555556  731.777778
7815  1020.407407  733.777778
7816   944.333333  630.111111
7818   827.074074  590.592593
7819   639.888889  597.259259

In [57]:
md_data.groupby(['ID', 'NBSB'])['Volume'].\
    sum().\
    reset_index().\
    pivot(index='ID', columns='NBSB', values='Volume').\
    drop(columns='other')

NBSB   northbound   southbound
ID
7800          NaN  1336.100000
7801  1318.740741  1453.629630
7802  2732.000000  1422.851852
7803  1191.000000   873.488095
7804  1622.703704  1442.777778
7805  1866.814815  1586.185185
7811  1748.592593  1601.259259
7812  2150.777778          NaN
7813  2017.629630  1720.592593
7814  2107.111111  2162.629630
7815  2233.444444  1991.407407
7816  2007.518519  1610.148148
7818  1646.814815  1597.814815
7819  1188.592593  1589.666667

In [58]:
pm_data.groupby(['ID', 'NBSB'])['Volume'].\
    sum().\
    reset_index().\
    pivot(index='ID', columns='NBSB', values='Volume').\
    drop(columns='other')

NBSB   northbound   southbound
ID
7800          NaN  1439.300000
7801   773.592593  2206.000000
7802  2017.111111  2122.407407
7803   959.208333  1381.458333
7804  1216.148148  1823.925926
7805  1741.888889  1654.703704
7811  1288.481481  1609.333333
7812  1656.722222          NaN
7813  1498.962963  1614.888889
7814  1455.074074  1887.925926
7815  1613.888889  1838.407407
7816  1508.925926  1467.407407
7818  1245.074074  1437.777778
7819   923.814815  1468.000000