In [1]:
import pandas as pd
import numpy as np

# helpful youtube for data wrangling https://www.youtube.com/watch?v=x0Sy6Kl0Mzw
# Replace 'your_file.csv.gz' with the actual file path
file_path = 'data_dump/SR36.csv.gz'

# Read the compressed CSV file into a pandas DataFrame
df = pd.read_csv(file_path, compression='gzip')

# Now 'df' contains the data from the CSV file
df.head()

,utc_timestamp,local_timestamp,network_id,source_id,length_mi,freeflow_mph,primary_source,subsegment,closed,vehicle_type,avg_speed_mph,stdev_speed_mph,source_ref
0,2023-09-28 01:55:00,2023-09-27 19:55:00,S201R4,-124041713,0.053997,35.001839,True,False,False,all,27.800147,NaN,link
1,2023-09-22 01:10:00,2023-09-21 19:10:00,S201R4,-124041713,0.053997,35.001839,True,False,False,all,28.399149,NaN,link
2,2023-09-22 01:40:00,2023-09-21 19:40:00,S201R4,-124041713,0.053997,35.001839,True,False,False,all,29.999801,NaN,link
3,2023-09-19 06:20:00,2023-09-19 00:20:00,S201R4,1198018451,0.019320,39.997664,True,True,False,all,41.998479,NaN,link
4,2023-09-19 06:20:00,2023-09-19 00:20:00,S201R4,1198018450,0.026915,39.997664,True,True,False,all,41.998479,NaN,link

Requirement already satisfied: numpy in c:\users\nlant\appdata\local\anaconda3\lib\site-packages (1.24.3)

In [2]:
df.columns

Index(['utc_timestamp', 'local_timestamp', 'network_id', 'source_id',
       'length_mi', 'freeflow_mph', 'primary_source', 'subsegment', 'closed',
       'vehicle_type', 'avg_speed_mph', 'stdev_speed_mph', 'source_ref'],
      dtype='object')

## Get list of routes
I need to match route names and IDs with either network_id or source_id...

In [5]:
#check the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2217384 entries, 0 to 2217383
Data columns (total 13 columns):
 #   Column           Dtype
---  ------           -----
 0   utc_timestamp    object
 1   local_timestamp  object
 2   network_id       object
 3   source_id        object
 4   length_mi        float64
 5   freeflow_mph     float64
 6   primary_source   bool
 7   subsegment       bool
 8   closed           bool
 9   vehicle_type     object
 10  avg_speed_mph    float64
 11  stdev_speed_mph  float64
 12  source_ref       object
dtypes: bool(3), float64(4), object(6)
memory usage: 175.5+ MB

In [9]:
# replace function. I wonder if I can replace with a whole file...
# I'd like to add route ID 
# df['network_id'] = df['network_id'].replace({'something': 'better', 'other': 'best'})

# or I can create columns
df['Travel_time_sec'] = df['length_mi'] / df['avg_speed_mph']*3600
df['Delay_sec'] = df['Travel_time_sec'] - df['length_mi'] / df['freeflow_mph'] * 3600
df.head()

,utc_timestamp,local_timestamp,network_id,source_id,length_mi,freeflow_mph,primary_source,subsegment,closed,vehicle_type,avg_speed_mph,stdev_speed_mph,source_ref,Travel_time_sec,Delay_sec
0,2023-09-28 01:55:00,2023-09-27 19:55:00,S201R4,-124041713,0.053997,35.001839,True,False,False,all,27.800147,NaN,link,6.992401,1.438699
1,2023-09-22 01:10:00,2023-09-21 19:10:00,S201R4,-124041713,0.053997,35.001839,True,False,False,all,28.399149,NaN,link,6.844915,1.291214
2,2023-09-22 01:40:00,2023-09-21 19:40:00,S201R4,-124041713,0.053997,35.001839,True,False,False,all,29.999801,NaN,link,6.479702,0.926000
3,2023-09-19 06:20:00,2023-09-19 00:20:00,S201R4,1198018451,0.019320,39.997664,True,True,False,all,41.998479,NaN,link,1.656065,-0.082842
4,2023-09-19 06:20:00,2023-09-19 00:20:00,S201R4,1198018450,0.026915,39.997664,True,True,False,all,41.998479,NaN,link,2.307103,-0.115409

In [16]:
value_counts = df['source_ref'].value_counts()
value_counts1 = df['source_id'].value_counts()
column_stats = df['source_id'].describe()
print(value_counts)

source_ref
link    1993108
tmc      224276
Name: count, dtype: int64

In [22]:
contour_file_path = 'samples/contours/contoursSR36.csv'

# Read the compressed CSV file into a pandas DataFrame
dfc = pd.read_csv(contour_file_path)

# Now 'df' contains the data from the CSV file
dfc.head(20)

,vehicle_type,time,link_id,link_name,offset_mi,length_mi,source_id,avg_speed,units
0,all,2023-12-27 00:00,-1198022536,UT-36 (S) From CENTER ST,0.000,0.033,116-05875,59.4,mph
1,all,2023-12-27 00:00,1198022536,UT-36 (N) To CENTER ST,0.033,0.033,116+05794,67.6,mph
2,all,2023-12-27 00:00,124041711,UT-36 (N) From CENTER ST,0.067,0.042,116+05794,67.6,mph
3,all,2023-12-27 00:00,124041709,UT-36 (N),0.108,0.044,116+06953,67.8,mph
4,all,2023-12-27 00:00,1198024439,UT-36 (N),0.152,0.046,116+06953,60.0,mph
5,all,2023-12-27 00:00,1198024440,UT-36 (N),0.198,0.060,116+06953,60.0,mph
6,all,2023-12-27 00:00,21219132,UT-36 (N),0.258,0.155,116+06953,69.0,mph
7,all,2023-12-27 00:00,21219135,UT-36 (N),0.413,0.055,116+06953,69.0,mph
8,all,2023-12-27 00:00,1198019039,UT-36 (N),0.468,0.335,116+06953,61.8,mph
9,all,2023-12-27 00:00,1198019040,UT-36 (NE),0.803,0.152,116+06953,61.8,mph
10,all,2023-12-27 00:00,1198018157,UT-36 (NE),0.955,0.156,116+06953,61.8,mph
11,all,2023-12-27 00:00,1198018170,UT-36 (NE),1.111,0.024,116+06953,61.8,mph
12,all,2023-12-27 00:00,1198018171,UT-36 (NE) To CANYON RD,1.135,0.057,116+06953,61.8,mph
13,all,2023-12-27 00:00,1198017774,UT-36 (NE) From CANYON RD,1.192,0.027,116+06953,60.0,mph
14,all,2023-12-27 00:00,1198017775,UT-36 (NE),1.218,0.030,116+06953,60.0,mph
15,all,2023-12-27 00:00,1198017664,UT-36 (NE),1.248,0.178,116+06953,60.0,mph
16,all,2023-12-27 00:00,1198017653,UT-36 (NE),1.427,0.068,116+06953,60.0,mph
17,all,2023-12-27 00:00,1198017508,UT-36 (NE),1.495,0.542,116+06953,56.4,mph
18,all,2023-12-27 00:00,1198017509,UT-36 (NE),2.037,0.123,116+06953,56.4,mph
19,all,2023-12-27 00:00,1198016727,UT-36 (NE),2.160,0.059,116+06953,56.4,mph